if [ ! -d ".venv" ] ; then
    echo "Installing virtualenv for $(python -V)"
    python -m venv .venv
    pip install -r requirements.txt
fi
echo "Activating $(python -V) virtualenv"
source .venv/bin/activate

# announce python version and show the path of the current python in ${PATH}
echo "Virtualenv has been activated for $(python -V)"
echo "$(which python)"
